 <!--views/partials/business-navbar.ejs -->

<nav id="navbar">
  <a href="/home" class="demo-icon icon-01_home"></a>
  <a href="/schedule" class="demo-icon icon-06_calendar"></a>
  <a href="/profile" class="demo-icon icon-04_profile"></a>
  <a href="/logout" class="demo-icon icon-68_menu_close"></a>
</nav>

