 <!--views/partials/business-navbar.ejs -->

<nav id="navbar">
  <a href="/home" class="demo-icon icon-01_home"></a>
  <a href="/schedule" class="demo-icon icon-26_list"></a>
  <a href="/profile" class="demo-icon icon-04_profile"></a>
</nav>

