<!-- views/partials/client-navbar.ejs -->

<nav id="navbar">
  <a href="/home" class="demo-icon icon-01_home"></a>
  <a href="/search" class="demo-icon icon-05_search"></a>
  <% let contact = contacts[0] ? contacts[0]._id : "nocontacts" %>
  <a href="/book/<%= contact  %>" class="demo-icon icon-73_plus"></a>
  <a href="/contacts" class="demo-icon icon-26_list"></a>
  <a href="/profile" class="demo-icon icon-04_profile"></a>
</nav>
