<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<% include partials/head %>
</head>
<body>
  <div class="grid-container">
      <header class="main-title">
        <H2>AppointmentApp</H2>
      </header>
      <main id="main">
        <H2>Error 404</H2>
        <p>Sorry, can't find that</p>
      </main>
  </div>
</body>
</html>
