<% 'use strict'; %>
<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <div class="header">
      <% include partials/business-navbar %>
    </div>
    <div class="profile-form">
      <H2>Profile</H2>
      <form action="/profile" method="post" id="profile-form">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" value="<%= business.firstname %>" oninput="showBtn()">  
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" value="<%= business.lastname %>" oninput="showBtn()">
    </form>
  </div>
  <button id="saveBtn" type="submit" form="profile-form">Save</button>
	<script src="/public/script.js"></script>
</body>
</html>