
<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <div class="header">
      <% include partials/business-navbar %>
    </div>
    <div class="upcoming">
      <div class="title">
        <H2>Upcoming clients</H2>
      </div>
      <ul>
        <% if (appointments.length > 0) { %>
          <% appointments.forEach((appointment) => { %>
            <li><%= new Date(appointment.date).toString().substring(0, 10) %> with <%= appointment.business.firstname %> <%= appointment.business.lastname %></li>
          <% }); %>
        <% } else { %>
          <li>You don't have appointments.</li>
        <% } %>
      </ul>
    </div>
  </div>
  <script src="/public/script.js"></script>
</body>
</html>