<!DOCTYPE html>
<html>
<head>
  <title>Doctors</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <% include partials/client-navbar %>
    </header>
    <main id="main" class="contacts">
      <div class="contacts">
        <div class="title">
          <H2>My contacts</H2>
        </div>
        <ul>
          <% contacts.forEach((contact) => { %>
            <div class="contacts-list">
              <li><%= contact.local.username %></li>
              <button onclick="removeUser(this, '<%= contact._id%>')">Remove</button>
            </div>
          <% }); %>
        </ul>
      </div> 
    </main>
  </div> 
  <script src="/public/scripts/navbar.js"></script>
  <script src="/public/scripts/search.js"></script>
</body>
</html>