<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <% include partials/client-navbar %>
    </header>
    <main id="main" class="search">
      <div class="page-title">
        <H2>Find business</H2>
      </div>
      <div class="search-bar">
        <input id="searchBar" type="text" name="username" placeholder="Enter username">
        <button type="button" onclick="findUser()">Find</button> 
      </div>
      <ul id="searchResults"></ul>
      <div id="message"></div>
    </main>
  </div>   
  <script src="/public/scripts/navbar.js"></script>
  <script src="/public/scripts/search.js"></script>
  <script src="/public/scripts/shared.js"></script>
</body>
</html>