<% 'use strict'; %>
<!DOCTYPE html>
<html>
<head>
  <title>Booking</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <% include partials/client-navbar %>
    </header>
    <main id="main">
      <div class="page-title">
        <H2>Book an appointment</H2>
      </div>
      <div id="message"><%= message %></div>
    </main>
  </div>
  <script src="/public/scripts/shared.js"></script>
</body>
</html>