<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <div class="header">
      <% include partials/client-navbar %>
    </div>
    <div class="upcoming">
      <div class="title">
        <H2>Upcoming appointments</H2>
      </div>
      <div>
        <% user.appointments.forEach((appointment) => { %>
          <li><%= appointment.date %> <%= appointment.time %></li>
        <% }); %>
      </div>
    </div>
    <div class="previous">
      <div class="title">
        <H2>Previous appointments</H2>
      </div>
    </div>
  </div>
  <script src="public/script.js"></script>
</body>
</html>