<% 'use strict'; %>
<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <% include partials/client-navbar %>
    </header>
    <main id="main">
      <div class="page-title">
        <H2>Profile</H2>
      </div>
      <div class="profile-form">
        <label for="firstname">First Name</label>
        <input id="firstname" type="text" name="firstname" value="<%= firstname %>" oninput="showSaveBtn()">  
        <label for="lastname">Last Name</label>
        <input id="lastname" type="text" name="lastname" value="<%= lastname %>" oninput="showSaveBtn()">  
        <button id="saveBtn" type="button" onclick="updateProfile()">Save</button>
      </div>
      <div class="delete-form">
          <button class="showBtn" type="button" onclick="showDeleteForm()">Delete account</button>
          <input id="password" type="password" placeholder="Enter password">
          <button id="deleteBtn" type="button" onclick="deleteAccount()">Delete</button>
      </div>
      <div id="message"></div>
    </main>
  </div>
  <script src="/public/scripts/profile.js"></script>
  <script src="/public/scripts/shared.js"></script>
</body>
</html>