<!DOCTYPE html>
<html>
<head>
  <title>Doctors</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <div class="header">
      <% include partials/client-navbar %>
    </div>
    <div class="search">
      <div class="title">
        <H2>Find service</H2>
      </div>
      <div class="search-bar">
        <input id="searchBar" type="text" name="username" placeholder="Enter username">
        <button type="submit" onclick="findUser()">Find</button> 
      </div>
    </div>
    <div>
      <ul id="searchResult">
        <% results.forEach((result) => { %>
          <li><a href="<%= result._id %>"><%= result.local.username %></a></li>
        <% }); %>
      </ul>
    </div>
   
  </div> 
  <script src="/public/script.js"></script>
</body>
</html>