<!DOCTYPE html>
<html>
<head>
  <title>Doctors</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <div class="header">
      <% include partials/client-navbar %>
    </div>
    <main id="main">
      <div class="search">
        <div class="title">
          <H2>Find service</H2>
        </div>
      <div class="search-bar">
        <input id="searchBar" type="text" name="username" placeholder="Enter username">
        <button type="button" onclick="findUser()">Find</button> 
      </div>
        <ul id="searchResults">  
        </ul>
      </div>
    </main>
  </div>   
  <script src="/public/script.js"></script>
  <script src="/public/client-search.js"></script>
</body>
</html>