<!DOCTYPE html>
<html>
<head>
  <title>Booking</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <% include partials/client-navbar %>
    </header>
    <main id="main" class="booking">
      <div class="page-title">
        <H2>Book an appointment</H2>
      </div>
      <div class="contacts">
        <div class="bar">
          <span><p><%= chosenContact %></p></span>
          <button class="material-icons" onclick="showDropdown()">expand_more</button>
        </div>
        <div id="content" class="content">
          <% contacts.forEach((contact) => { %>
            <% if (contact.local.email !== chosenContact) { %>
              <a href="/book/<%= contact._id %>"><%= contact.local.email %></a>
            <% } %>
          <% }); %>
        </div>
      </div>
      <div id="message"></div>
    </main>   
  </div>   
  <script src="/public/scripts/navbar.js"></script>
  <script src="/public/scripts/booking.js"></script>
  <script src="/public/scripts/shared.js"></script>
</body>
</html>