<!DOCTYPE html>
<html>
<head>
  <title>Doctors</title>
  <% include head %>
</head>
<body>

  <% include client-navbar %>

  <!--------------------------->
  <!-- Upcoming appointments -->
  <!--------------------------->
  <div class="grid-container">

    <!-- Top part -->
    <div class="header">

      <% include header %>

    </div>

    <!-- Page title -->
    <div class="header">

      <H2>My doctors</H2>

    </div>

    <!-- List of patient's doctors -->
    <% for (let i = 0; i < myDoctors.length; i++) { %>

    <div class="dropdown">

      <span class="dropdown-item"><%= myDoctors[i] %></span><!--
      --><button id="dropdown-btnId" class="material-icons" onclick="dropdown()">expand_more</button>

      <div id="dropdown-contentId" class="dropdown-content">

       <span>info</span>

      </div>

    </div>

    <% } %>
    

    <div class="addBtn">
      <button class="material-icons" onclick="dropdown()">add</button>
    </div>

    <!-- Page title -->
    <div class="header">

      <H2>Doctors near you</H2>

    </div>
    <!-- List of doctors -->
    <% for (let i = 0; i < doctors.length; i++) { %>

    <div class="dropdown">

      <span class="dropdown-item"><%= doctors[i].local.username %></span><!--
      --><button id="dropdown-btnId" class="material-icons" onclick="dropdown(<%= i %>)">expand_more</button>

      <div id="dropdown-contentId<%= i %>" class="dropdown-content">

       <div>info</div>
       <button class="submitBtn">Add</button>

      </div>

    </div>

    <% } %>
    




  <script src="public/script.js"></script>
</body>
</html>