<!DOCTYPE html>
<html>
<head>
	<title>Entrance</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="public/entrance-style.css">
</head>
<body>
	<form action="/login" method="post">
		<h3>Login as a dentist</h3>
		<label for="email">Username</label>
		<input type="text" name="username" placeholder="Username or email" required><br>
		<label for="psw">Password</label>
		<input type="password" name="password" placeholder="Password" requred><br>
		<input type="submit" name="Login"><br>
		<label>
			<input type="checkbox" name="remember">
			Remember me
		</label>
		<% if (message.length > 0) { %>
		<div><%= message %></div>
		<% } %>
		<p>Need an account? <a href="/signup">Signup</a></p>
		
	</form>
		<h3>Enter as a patient to make an appoinment</h3>
		<a href="/customer">Enter</a>
</body>
</html>