<!DOCTYPE html>
<html>
<head>
  <title></title>
  <% include head %>
</head>
<body>

  <div class="grid-container">

    <div class="login">

    <div class="header">

        <H2>Password recovery</H2>

    </div> 

    <form action="/forgot" method="post">

      <label>Email</label>
      <input type="email" name="email" placeholder="Enter your email">

      <button type="submit">Reset password</button>

    </form>

    <button type="button" class="cancelBtn">Cancel</button>

    <% if (message) { %>
      <div class="flash"><%= message %></div>
    <% } %>
  
  </div>

</body>
</html>