<!DOCTYPE html>
<html>
<head>
	<meta 		>
	<title>Calendar</title>
</head>
<body>
	<ul>
		<li>Mon</li>
		<li>Tue</li>
		<li>Wen</li>
		<li>Thu</li>
		<li>Fri</li>
		<li>Sat</li>
		<li>Sun</li>
	</ul>


</body>
</html>