<!DOCTYPE html>
<html>
<head>
	<title>Info</title>
</head>
<body>
  <div class="grid-container">
      <header class="main-title">
        <H2>AppointmentApp</H2>
      </header>
      <main id="main">
          <div id="message"></div>
          <a href="/home">Go home</a>
      </main>
  </div>
</body>
</html>
