<!DOCTYPE html>
<html>
<head>

	<title>Login</title>
	<% include partials/head %>

</head>
<body>

  <div class="grid-container">

    <div class="login">

      <div class="header">

        <H2>Medapp</H2>

      </div>
    
      <form action="/login" method="post">
      
  		  <label for="username"><b>Username</b></label>
  		  <input type="text" name="username" placeholder="Enter username or email" required value="client1">

  		  <label for="password"><b>Password</b></label>
  		  <input type="password" name="password" placeholder="Enter password" requred value="noldor">

        <button type="submit">Login</button>

      </form>

    </div> 

    <div class="recovery">

        <a href="/forgot">Forgot password?</a><!--
        --><p>Need an account? <a href="/signup">Signup</a></p>

    </div>

      <% if (message) { %>
        <div class="flash"><%= message %></div>
      <% } %>
  	

  </div>
</body>
</html>