<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <% include head %>
</head>
<body>

  <div class="grid-container">

    <div class="login">

      <div class="header">

        <H2>Password recovery</H2>

      </div> 

      <form action="/reset/<%= //token %>" method="post">

        <label>New password</label>
        <input type="password" name="password" placeholder="New password">

        <label>Confirm password</label>
        <input type="password" name="confirmPassword" placeholder="Confirm password">

        <button type="submit">Update Password</button>

      </form>

      <button type="button" class="cancelbtn">Cancel</button>

      <% if (message) { %>
      <div class="flash"><%= message %></div>
      <% } %>

  </div>
  
</body>
</html>