<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" type="text/css" href="public/login-style.css">
</head>
<body>
  <h4>Medapp</h4>

	<form action="/signup" method="post">
    <div class="container">
  		<label>Username</label>
  		<input type="text" name="username" required>
  		<label>Email</label>
  		<input type="text" name="email" required>
  		<label>Password</label>
  		<input type="password" name="password" required>
      <label>Confirm Password</label>
      <input type="password" name="confirm" required>
      <button type="submit">Signup</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <p>Already have an account? <a href="/">Login</a></p>
    </div>
    
    <% if (message) { %>
		  <div class="flash"><%= message %></div>
		<% } %>
  </form>
  
</body>
</html>