:root {
  --main-color: #4CAF90;
  --main-active-color: #4CAF50;
  --main-inactive-color: #808080;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: #777;
  font-family: 'fontello', 'Lato', Arial;
  font-size:14px;
}
button {
    background-color: #fff;
    border: none;
}

.title {
  padding-bottom: 4px;
}


/* Mobile Styles */
@media only screen and (max-width: 425px) {

  /*------------------*/
  /*    Login page    */
  /*------------------*/
  .login .header h2 {
    padding: 20px 0px;
    text-align: center;
  }
  .login {
    border-bottom: 1px solid #f1f1f1;
  }
  .login input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
  }
  .login form button {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
  }
  .recovery {
    width: 90%;
    margin: auto;
  }
  .recovery p {
    padding-top: 10px;
  }

  /*---------------------------*/
  /*   Navbar                  */
  /*---------------------------*/
  .header nav {
    display: flex;
    justify-content: space-around;
  }
  .header nav a {
    text-decoration: none;
  }
  .header nav a.active {
    color: var(--main-color);
  }

  /*---------------------------*/
  /*   Profile page            */
  /*---------------------------*/
  .profile-form input[type=text] {
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    width: 100%;
    height: 25px; 
  }
  .profile-form input{
    margin-bottom: 10px;
  }

  /*------------------*/
  /* Home page        */
  /*------------------*/
  .grid-container {
    display: grid;
    grid-row-gap: 15px;
    width: 90%;
    margin: auto;
  }
  .header * {
    display: inline-block;
    padding-top: 10px;
    font-size: 30px;
  }
  .header div {
   
  }
  .header div:first-child {
    width: 70%;
  }
  .header div:last-child {
    width: 30%;
  }
  .header div:first-child button{
    text-align: left;
  }
  .appointments .appointment-list {
    display: flex;
    border: 1px solid var(--main-inactive-color);
    margin-top: 10px;
  }
  .appointments .appointment-list li {
    width: 80%;
  }
  .appointments .appointment-list button {
    border-left: none;
    background-color: var(--main-color);
    color: #fff;
    width: 20%;
  }

  /*---------------------------*/
  /*   Schedule page            */
  /*---------------------------*/
  .schedule .workdays ul {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .schedule .workdays ul li {
    padding-top: 4px;
    color: var(--main-inactive-color);
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--main-inactive-color);
    border-radius: 50%;
  }
  .schedule .workdays .checked {
    color: #fff;
    background-color: var(--main-active-color);
  }
  .schedule .workhours {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 340px;
  }
  .schedule .workhours ul {
    position: absolute;
    border: 3px solid #fff;
    top: 50%;
    left: 47%;
    width: 5px;
    height: 5px;
  }
  .schedule .workhours ul li {
    padding-top: 4px;
    font-size: 12px;
    background-color: #fff;
    color: var(--main-inactive-color);
    border: 1px solid var(--main-inactive-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
  }
  .schedule .workhours .checked {
    color: #fff;
    background-color: var(--main-active-color);
  }
  .schedule .workhours .checked {
    color: #fff;
    background-color: var(--main-active-color);
  }
  .schedule .holidays ul li {
    border: 1px solid var(--main-inactive-color);
    margin-bottom: 5px;
    height: 25px;
    text-align: center;
    padding-top: 2px;
  }
  .schedule .holidays .checked {
    color: #fff;
    background-color: var(--main-active-color);
  }
  .schedule .saveBtn {
    display: none;
    background-color: var(--main-active-color);
    color: #fff;
    padding: 10px;
    margin: auto;
    border: none;
    width: 100%;
  }


  /*------------------*/
  /* Search page      */
  /*------------------*/
  .search .search-bar {
    display: flex;
  }
  .search .search-bar input {
    width: 80%;
  }
  .search .search-bar button {
    border: 1px solid var(--main-inactive-color);
    border-left: none;
    background-color: var(--main-color);
    color: #fff;
    width: 20%;
  }
  .search .search-result {
    display: flex;
    border: 1px solid var(--main-inactive-color);
    margin-top: 10px;
  }
  .search .search-result li {
    width: 80%;
  }
  .search .search-result button {
    border: 1px solid var(--main-inactive-color);
    border-left: none;
    background-color: var(--main-color);
    color: #fff;
    width: 20%;
  }

  /*------------------*/
  /* Booking page */
  /*------------------*/
  .contacts .contacts-bar {
    display: flex;
    border: 1px solid var(--main-inactive-color);
  }
  .contacts span {
    width: 80%;
  }
  .contacts span p {
    padding-top: 2px;
    padding-left: 5px;
  }
  .contacts button {
    background-color: var(--main-active-color);
    color: #fff;
    width: 20%;
  }

  .contacts .contacts-content {
    display: none;
  }
  .contacts .contacts-content a {
    display: block;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 12px;
    padding-left: 5px; 
  }
  .contacts .show {
    display: block;
  }
  .calendar {
    border: 1px solid #f1f1f1;
  }

  .calendar h3 {
    display: block;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;

  }
  .calendar textarea {
    display: block;
    width: 90%;
    margin: auto;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  .calendar .month {
      width: 100%;
      text-align: center;
  }
  .calendar .month * {
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
  }
  .calendar .month span {
    font-size: 18px;
  }
  .calendar .month span {
    padding: 0px 10px; 
  }
  .calendar .days li {
    text-align: center;
    float: left;
    width: 14.2857%;
  }
  .calendar .days li div {
    margin: 5px auto;
    font-size:12px;
    padding-top: 2px;
    color: var(--main-inactive-color);
    border: 1px solid #d1d5da;
    border-radius: 50%;
    width: 23px;
    height: 23px;
  }

  .calendar .days .availableDays {
    background: var(--main-color);
    color: #fff;
  }
  #checkedDay {
    background: var(--main-active-color);
    color: #fff;
    border-radius: 0%;
  }
  
  .time {
    clear: both;
  }
  #timetable li {
    float: left;
    width: 20%;
    text-align: center;
    margin: 5px;
  }
  .availableTime {
    background: var(--main-color);
    color: #fff;
  }
  #checkedTime {
    background: var(--main-active-color);
    color: #fff;
    border-radius: 5%;
  }
  .reasonForVisit {
    clear: both;
  }
  #msg {
    background-color: #f44336;
    color: #fff;
  }
  .submitBtn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin: auto;
    border: none;
    width: 100%;
  }
  .cancelBtn {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    width: 100%;
  }
  /*----------------------*/
  /* Client contacts       */
  /*----------------------*/
  .contacts .contacts-list {
    display: flex;
    border: 1px solid var(--main-inactive-color);
    margin-top: 10px;
  }
  .contacts .contacts-list li {
    width: 80%;
  }
  .contacts .contacts-list button {
    border: 1px solid var(--main-inactive-color);
    border-left: none;
    background-color: var(--main-color);
    color: #fff;
    width: 20%;
  }
  

}

/* Tablet Styles */
@media only screen and (min-width: 426px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
